/* ------------------------------------------Carlas Theme Box --------------------------*/
/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #faf7f4;
    color: #333;
}
/*--------------------Main top display with Construction theme logo--------------------------------------*/
.logo {
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 350px;
    margin-top: 10px;
    z-index: 0;
}
/*-------------------------Links -> Home/ Catalog/ Contact------------------------------------------*/
.container {
    text-align: center;
}
nav{
    position: relative;
    z-index: 1;
}

nav ul {
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 30px; /* Remove default margin */
    text-align: center;
}

nav li {
    display: inline-block; /* Display list items horizontally */
    margin: 10px 20px; /* Add some spacing between list items */
    background-color: #e0c0a8;
    padding: 8px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

nav a {
    text-decoration: none; /* Remove underline from links */
    padding: 5px 10px; /* Add padding to make links look like buttons */
    border: 1px solid #333; /* Add a border for a button-like appearance */
    border-radius: 5px; /* Add rounded corners */
    color: #333; /* Set link color */
    position: relative; /* Add position relative for absolute positioning of the border */
    bottom: 5px;
    left: 5px;
    transition: all 0.3s ease;
    font-size: 18px;
    font-family: monospace;
    color: 	#8B4513;
}
/* Hover effect */
nav li:hover {
    margin: 10px 15px; /* Adjust spacing on hover to bring everything back into line */
   padding: 5px 0px;
   border-radius: 5px;
}

nav li:hover a {
    bottom: 0;
    left: 0;
}

/* --------------------------------------Landing Page Images ------------------------------------------------*/
.image-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 20px;

}
.image-container {
    position: relative;
    width: 22%;
    height: 250px;
    margin-top: 20px;
    margin-right: 10px; /* Adjust right margin for spacing */
    overflow: hidden;
}
.image-container img {
    width: 100%;
    height: 100%; /* Set a fixed height to ensure equal heights */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border-radius: 15px;
    transition: transform 0.3s ease;
}
.image-container img:hover{
    transform: scale(1.1);
}
.image-container p {
    position: absolute;
    bottom: 15px;
    left: 95px;
    width: 90;
    padding: 10px;
    background-color: rgb(224, 192, 168, 1);
    text-align: center;
    margin: 0;
    z-index: 1; 
    transition: opactity 0.3s ease;
}
.image-container:hover p{
    opacity: 0.8;
}
.image-container a{
    text-decoration: none;
    color: #333;
}

/*--------------------------Footer------------------------------*/
/* footer{
    background-color: #499327;
    color: #fff;
    padding: 40px 20px;
    margin-top: 80px;
   
}
.container{
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;

} */
footer{
    position: flex;
    top: 80px;
    bottom: 0;
    width: 100%;
    padding: 21px 50px;
    background: #e0c0a8;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .copyright{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    z-index: 2;
    color:#fff;
}

body, html{
    height: 100%;
    margin: 0;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex-grow: 1;
}
footer{
    width: 100%;
    padding: 21px 50px;
    background: #e0c0a8;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .copyright{
    color: #fff;
}
.social-icons{
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    width: 100%;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #fff;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #000;
    transform: translateY(-5px);
}